/* Including styles files */
/* Including fonts */
@import url("../../libs/fullpage.js/dist/jquery.fullpage.css");
@import url(../../libs/fancybox/dist/jquery.fancybox.css);
@font-face {
  src: url("../../fonts/Geometria-Light.otf");
  font-family: 'Geometria';
  font-weight: 300; }

@font-face {
  src: url("../../fonts/Geometria.otf");
  font-family: 'Geometria';
  font-weight: 400; }

@font-face {
  src: url("../../fonts/Geometria-Medium.otf");
  font-family: 'Geometria';
  font-weight: 500; }

@font-face {
  src: url("../../fonts/Geometria-Bold.otf");
  font-family: 'Geometria';
  font-weight: 700; }

@font-face {
  src: url("../../fonts/Montserrat-Regular.otf");
  font-family: 'Montserrat';
  font-weight: 400; }

/* Grid */
.case {
  position: relative;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.col, .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.row.left, .col.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.row.right, .col.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.row.mid, .col.mid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row.between, .col.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row.around, .col.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.i-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.i-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.i-mid {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.i-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.i-strech {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.one {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.two {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.tree {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.four {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4; }

.five {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5; }

.six {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6; }

.seven {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
      -ms-flex-order: 7;
          order: 7; }

/* Global settings */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Geometria", sans-serif;
  color: #333333;
  background: white; }

header, nav, main, section, article, aside, footer, li, .block {
  display: block; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  display: inline;
  font-size: inherit;
  font-weight: inherit; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important; }

.icon {
  display: inline-block;
  vertical-align: middle; }

/* Form elements */
.input {
  position: relative; }
  .input__title {
    font-size: 16px;
    color: #212121;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 1;
    color: rgba(102, 102, 102, 0.5);
    font-weight: 300;
    -webkit-transition: .3s;
    transition: .3s;
    font-family: "Montserrat", sans-serif; }
  .input__wrap {
    font-weight: 300;
    display: block;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 34px;
    padding-top: 0;
    background: none;
    border-bottom: 1px solid #666666;
    letter-spacing: -0.02em;
    color: #666; }
    .input__wrap:focus + .input__title {
      font-size: 12px;
      -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
              transform: translateY(-10px); }
  .input_completed .input__title {
    font-size: 12px;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px); }

.textarea textarea {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  display: block;
  resize: none;
  border-bottom: 1px solid #666666;
  width: 100%;
  padding: 0;
  height: 98px;
  color: #666666;
  background: none; }
  .textarea textarea::-webkit-input-placeholder {
    opacity: 1;
    color: rgba(102, 102, 102, 0.5); }
  .textarea textarea::-moz-placeholder {
    opacity: 1;
    color: rgba(102, 102, 102, 0.5); }
  .textarea textarea:-ms-input-placeholder {
    opacity: 1;
    color: rgba(102, 102, 102, 0.5); }
  .textarea textarea::placeholder {
    opacity: 1;
    color: rgba(102, 102, 102, 0.5); }

.file {
  width: 100%;
  height: 48px;
  line-height: 42px;
  border: 2px dashed #FFC300;
  text-align: center;
  cursor: pointer; }
  .file label {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    cursor: pointer; }
  .file input {
    display: none; }

.btn {
  position: relative;
  display: block;
  font-size: 16px;
  font-family: "Geometria", sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-border-radius: 50px;
          border-radius: 50px; }
  .btn_normal {
    height: 48px;
    line-height: 42px;
    font-size: 18px; }
  .btn_pink {
    color: #fff;
    border: 2px solid #FF21A2;
    background: #FF21A2; }
    .btn_pink:hover {
      color: #333333;
      background-color: #fff; }
  .btn_yellow {
    border: 2px solid #FFC300; }
    .btn_yellow:hover {
      color: #333333;
      background-color: #FFC300; }
  .btn_yellow-bg {
    border: 2px solid #FFC300;
    background-color: #FFC300; }
    .btn_yellow-bg:hover {
      color: #333333;
      background-color: #fff; }

.input input, .textarea textarea {
  -webkit-transition: .3s;
  transition: .3s; }

.input input, .btn, .slick-slide, .textarea textarea {
  outline: none !important; }

.bg-left, .bg-right {
  z-index: 1;
  position: absolute;
  background: #F5F5F5;
  top: 0;
  bottom: 0;
  -webkit-transition: .3s;
  transition: .3s; }

.bg-left {
  left: 0;
  width: 16px; }

.bg-right {
  right: 0;
  width: 326px; }

.bg-panel {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 326px;
  left: 16px;
  height: 120px;
  background-color: #fff; }

.w50p {
  width: 50% !important;
  z-index: 3; }

#fullpage {
  position: relative;
  z-index: 2;
  -webkit-transition: .3s;
  transition: .3s; }

.panel__logo {
  position: absolute;
  z-index: 4;
  top: 60px;
  left: 195px; }

.order-btn, .citys-phones, .nav, .mobile-btn {
  position: absolute;
  z-index: 4; }

.mobile-btn {
  width: 24px;
  height: 20px;
  top: 76px;
  left: 60px;
  cursor: pointer; }
  .mobile-btn span {
    position: relative;
    width: 24px;
    height: 2px;
    background: #333333;
    display: block;
    margin-bottom: 7px;
    -webkit-transition: .3s;
    transition: .3s; }
    .mobile-btn span:nth-of-type(3) {
      width: 20px; }
    .mobile-btn span:last-of-type {
      margin-bottom: 0; }
  .mobile-btn_toggle span:nth-of-type(1) {
    top: 9px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .mobile-btn_toggle span:nth-of-type(2) {
    opacity: 0; }
  .mobile-btn_toggle span:nth-of-type(3) {
    top: -9px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 24px; }
  .mobile-btn:hover span:nth-of-type(3) {
    width: 24px; }

.nav {
  top: 75px;
  left: 460px; }
  .nav ul {
    width: 695px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .nav li {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.01em;
    position: relative; }
    .nav li:after {
      position: absolute;
      right: -30px;
      top: 50%;
      content: '';
      width: 6px;
      height: 6px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #CCCCCC; }
    .nav li:last-of-type:after {
      display: none; }
    .nav li span {
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      line-height: 14px;
      font-size: 11px;
      text-align: center;
      background: #FFC300;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      top: 0;
      right: -20px;
      letter-spacing: -0.03em; }
  .nav a:hover {
    color: #FF21A2; }
    .nav a:hover span {
      color: #333333; }

.citys-phones {
  top: 44px;
  right: 360px; }
  .citys-phones ul {
    width: 185px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .citys-phones li {
    font-size: 14px;
    letter-spacing: -0.02em;
    font-weight: 500;
    color: #AAAAAA;
    position: relative;
    padding-left: 18px;
    cursor: pointer; }
    .citys-phones li svg {
      display: none;
      position: absolute;
      top: 2px;
      left: 2px;
      margin-right: 11px; }
    .citys-phones li:before {
      content: '';
      width: 6px;
      height: 6px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #CCCCCC;
      position: absolute;
      top: 50%;
      left: 3px;
      margin-top: -2px; }
    .citys-phones li.selected {
      color: #333333;
      cursor: default; }
      .citys-phones li.selected svg {
        display: block; }
  .citys-phones__nav {
    margin-bottom: 15px; }
  .citys-phones__tab {
    font-size: 19px;
    letter-spacing: 0.01em;
    display: none; }
    .citys-phones__tab.selected {
      display: block; }

.order-btn {
  width: 225px;
  top: 48px;
  right: 49px; }

.main-slide {
  position: relative; }
  .main-slide__main-title {
    top: 197px;
    left: 0;
    position: absolute; }
    .main-slide__main-title:after {
      content: '';
      display: block;
      width: 100px;
      height: 16px;
      background: #FF21A2;
      margin-left: auto;
      margin-right: auto;
      margin-top: 24px;
      position: relative;
      z-index: 3; }
  .main-slide__desc {
    font-size: 36px;
    color: #999999;
    letter-spacing: -0.02em;
    position: absolute;
    top: 210px;
    left: 855px;
    font-weight: 500; }
  .main-slide__title {
    font-size: 64px;
    line-height: 96px;
    letter-spacing: -0.02em;
    margin-left: 322px;
    font-weight: 500;
    padding-top: 100px;
    font-weight: 700; }
    .main-slide__title span {
      color: #FF21A2; }
  .main-slide__img {
    width: 850px;
    line-height: 571px;
    height: 471px; }
    .main-slide__img img {
      display: inline-block;
      vertical-align: middle; }
  .main-slide__content {
    width: 470px; }
  .main-slide__subtitle {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin-bottom: 30px; }
  .main-slide__text {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #666666;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 45px; }
  .main-slide__btn {
    width: 206px; }
  .main-slide__wrap {
    font-size: 0; }
  .main-slide__img, .main-slide__content {
    display: inline-block;
    vertical-align: top; }
  .main-slide__img {
    margin-left: 100px;
    text-align: center;
    -webkit-transition: .7s;
    transition: .7s; }
  .main-slide__content {
    padding-top: 150px; }
  .main-slide__award {
    margin-top: 32px; }
  .main-slide .slide.active + .slide .main-slide__img {
    margin-left: -430px; }

.video-link {
  font-size: 0;
  position: absolute;
  left: 193px;
  bottom: 64px;
  z-index: 3; }
  .video-link__btn, .video-link__text {
    display: inline-block;
    vertical-align: middle; }
  .video-link__btn:hover {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); }
  .video-link__text {
    font-size: 18px; }
    .video-link__text:before {
      content: '';
      width: 90px;
      height: 2px;
      background-color: #333333;
      display: inline-block;
      vertical-align: middle;
      margin-left: 37px;
      margin-right: 43px; }

.slide-count {
  font-size: 0;
  position: absolute;
  bottom: 90px;
  right: 60px; }
  .slide-count__text, .slide-count__arrow, .slide-count__counts {
    display: inline-block;
    vertical-align: middle; }
  .slide-count__text {
    font-size: 18px; }
  .slide-count__arrow {
    margin-left: 43px;
    margin-right: 100px;
    cursor: pointer;
    position: relative;
    z-index: 1; }
  .slide-count__counts {
    letter-spacing: 0.01em;
    font-size: 0;
    width: 80px; }
    .slide-count__counts-count {
      font-size: 32px;
      font-weight: 300;
      margin-right: 6px; }
    .slide-count__counts-sum {
      font-size: 18px;
      position: relative;
      top: -5px;
      color: #999999; }
      .slide-count__counts-sum:before {
        content: '/';
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        position: relative;
        top: 3px;
        color: #FF21A2;
        margin-right: 3px; }
    .slide-count__counts-count, .slide-count__counts-sum {
      display: inline-block;
      vertical-align: middle; }

.section, .slide {
  position: relative; }

.award {
  font-size: 0; }
  .award_line .award__icon, .award_line .award__content {
    display: inline-block;
    vertical-align: top; }
  .award_line .award__content {
    padding-left: 15px;
    max-width: 280px; }
  .award__icon {
    width: 54px;
    height: 54px; }
  .award__title {
    font-size: 20px;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 15px; }
  .award__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif; }
    .award__text_mb0 {
      margin-bottom: 0; }
  .award__name {
    font-size: 16px;
    line-height: 32px;
    color: #999999;
    font-weight: 500; }

.title {
  font-size: 120px;
  letter-spacing: -0.03em;
  font-weight: 700;
  margin-left: -8px;
  position: absolute;
  top: 195px;
  left: 0;
  z-index: 1; }
  .title_normal {
    position: relative;
    top: 0;
    margin-bottom: 30px; }

.content {
  width: 100%;
  max-width: 1245px;
  margin-left: 193px;
  padding-top: 340px; }

.text {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #666666;
  font-family: "Montserrat", sans-serif; }

.counts__item {
  width: 270px; }
  .counts__item:after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #000;
    margin-top: 18px; }
  .counts__item_pink:after {
    background: #FF21A2; }
  .counts__item_blue:after {
    background: #22BDF1; }
  .counts__item_yellow:after {
    background: #FFC300; }

.counts__count {
  font-size: 70px;
  line-height: 40px;
  letter-spacing: -0.03em;
  font-weight: 700;
  margin-bottom: 15px; }

.counts__text {
  line-height: 26px;
  letter-spacing: -0.02em;
  font-family: "Montserrat", sans-serif; }

.agency__text {
  margin-bottom: 60px; }

.agency__counts {
  margin-bottom: 45px; }

.agency__subtext {
  font-size: 18px;
  margin-bottom: 78px;
  max-width: 870px; }

.agency__btn {
  width: 270px;
  font-size: 16px; }

.nav-block {
  position: absolute;
  right: 0;
  top: 50%;
  width: 325px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 90px; }
  .nav-block li {
    font-size: 18px;
    width: 100%;
    margin-bottom: 25px;
    position: relative; }
    .nav-block li:before {
      position: absolute;
      content: '';
      width: 6px;
      height: 6px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      left: -30px;
      top: 8px;
      background: #CCCCCC; }
    .nav-block li:last-of-type {
      margin-bottom: 0; }
  .nav-block a {
    border-color: rgba(255, 33, 162, 0.3); }
    .nav-block a:hover {
      border-color: transparent; }

.awards__year {
  position: absolute;
  top: 410px;
  left: 0;
  font-size: 36px;
  color: #999999;
  letter-spacing: -0.02em;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s; }

.awards__list {
  margin-bottom: 25px; }

.awards__item {
  width: 210px;
  margin-right: 60px; }
  .awards__item:last-of-type {
    margin-right: 0; }
  .awards__item .award__icon {
    margin-left: -10px; }

.awards__btn {
  max-width: 270px;
  width: 100%;
  font-size: 16px; }

.awards__arrow {
  position: absolute;
  bottom: 210px;
  right: 240px;
  cursor: pointer; }

.awards .slide.active + .slide .awards__year {
  font-size: 75px;
  margin-left: -160px;
  color: #DDDDDD;
  top: auto;
  bottom: 182px; }

.awards .slide .fp-scrollable, .awards .slide .fp-scroller {
  overflow: visible; }

.text-block {
  position: absolute;
  top: 50%;
  width: 325px;
  right: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.02em;
  line-height: 24px;
  padding: 0 62px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .text-block a {
    color: rgba(45, 149, 224, 0.5);
    border-color: rgba(45, 149, 224, 0.5); }
    .text-block a:hover {
      color: #333333;
      border-color: transparent; }

.top {
  margin-bottom: 25px; }
  .top__item {
    position: relative;
    width: 210px;
    margin-right: 60px; }
    .top__item:before {
      background: url("../../img/branch-left.png");
      left: -51px; }
    .top__item:after {
      background: url("../../img/branch-right.png");
      left: 94px; }
    .top__item:before, .top__item:after {
      display: block;
      position: absolute;
      content: '';
      width: 46px;
      height: 87px;
      top: 0; }
  .top__icon {
    width: 90px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 12px; }
    .top__icon svg {
      display: inline-block;
      vertical-align: middle; }
  .top__title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: left;
    width: 90px;
    margin-bottom: 10px; }
  .top__text {
    line-height: 24px;
    letter-spacing: -0.02em;
    max-width: 205px;
    width: 100%;
    height: 48px;
    margin-bottom: 17px; }
  .top__desc {
    color: #999999;
    font-weight: 500; }

.services__text {
  max-width: 870px;
  width: 100%;
  margin-bottom: 35px; }

.services__list {
  margin-bottom: 36px; }

.services__item {
  width: 33.333%;
  padding-right: 60px; }
  .services__item-icon {
    width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background: #F5F5F5;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-left: -30px;
    margin-bottom: 40px; }
    .services__item-icon svg {
      display: inline-block;
      vertical-align: middle; }
  .services__item-title {
    font-size: 24px;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-bottom: 10px; }
  .services__item-text {
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #666666;
    max-width: 340px; }

.services__btn {
  max-width: 270px;
  width: 100%;
  font-size: 16px; }

.works {
  background-color: #F5F5F5;
  position: relative;
  padding-bottom: 50px; }
  .works:before, .works:after {
    content: '';
    z-index: 0;
    position: absolute;
    background: #fff;
    top: 0;
    bottom: 0; }
  .works:before {
    left: 0;
    width: 16px; }
  .works:after {
    right: 0;
    width: 326px; }
  .works .fp-tableCell {
    z-index: 2; }
  .works__content {
    padding-top: 370px; }
  .works__list {
    margin-left: -20px;
    margin-right: -20px; }
  .works__item {
    width: -webkit-calc(50% - 40px);
    width: calc(50% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    background-color: #fff; }
  .works__img {
    position: relative;
    display: block; }
    .works__img_video:hover:before, .works__img_video:hover:after {
      -webkit-transform: translate(-50%, -50%) scale(0.85);
          -ms-transform: translate(-50%, -50%) scale(0.85);
              transform: translate(-50%, -50%) scale(0.85); }
    .works__img_video:before {
      z-index: 2;
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 72px;
      height: 72px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #fff;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition: .3s;
      transition: .3s; }
    .works__img_video:after {
      z-index: 3;
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      margin-left: 5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 18px 0 18px 26px;
      border-color: transparent transparent transparent #ff21a3;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition: .3s;
      transition: .3s; }
    .works__img_video img {
      position: relative;
      z-index: 1; }
  .works__wrap {
    position: relative;
    background-color: #fff;
    padding: 23px 24px; }
  .works__btn {
    max-width: 326px;
    width: 100%;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto; }
  .works__subtitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px; }
  .works__text {
    color: #666666;
    letter-spacing: -0.02em;
    padding-right: 125px; }
  .works__link {
    position: absolute;
    bottom: 50%;
    margin-bottom: -35px;
    right: 20px;
    line-height: 28px; }
    .works__link svg {
      display: inline-block;
      vertical-align: middle;
      margin-left: 12px; }
    .works__link_pink a {
      color: #FF21A2; }
    .works__link_blue a {
      color: #1B4FFB; }

.contacts {
  background: url("../../img/map.png") no-repeat right center;
  background-size: 326px 100%; }
  .contacts__subtitle {
    font-size: 24px;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-bottom: 35px; }
  .contacts__city {
    position: relative; }
    .contacts__city:before {
      content: '';
      position: absolute;
      top: 5px;
      left: -41px;
      width: 20px;
      height: 26px;
      background: url("../../img/marker.png") no-repeat center; }
    .contacts__city_dot:before {
      left: -47px;
      width: 12px;
      height: 12px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      top: 12px;
      background: #CCC; }
  .contacts__col {
    width: 33.333%;
    padding-right: 30px; }
  .contacts__address {
    margin-bottom: 20px;
    line-height: 26px;
    letter-spacing: -0.02em;
    font-family: "Montserrat", sans-serif; }
    .contacts__address a {
      border-bottom: 1px solid rgba(255, 33, 162, 0.3); }
      .contacts__address a:hover {
        border-color: transparent; }
  .contacts__phone {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 95px; }
  .contacts__link a {
    color: #05B1EB;
    border-color: #05B1EB; }
    .contacts__link a:hover {
      border-color: transparent; }
  .contacts__link_mt {
    margin-top: 60px; }
  .contacts__ur {
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #666666;
    font-family: "Montserrat", sans-serif; }
  .contacts__socials {
    margin-top: 60px; }

.department__title {
  font-size: 20px;
  margin-bottom: 12px; }

.department__link {
  letter-spacing: -0.02em; }
  .department__link a {
    color: #05B1EB;
    border-color: #05B1EB; }
    .department__link a:hover {
      border-color: transparent; }

.socials_bg .fb {
  background-color: #45619D; }

.socials_bg .insta {
  background-color: #DB3073; }

.socials_bg .vk {
  background-color: #4A76A8; }

.socials_bg .be {
  background-color: #1B4FFB; }

.socials_bg a:hover {
  background-color: #fff; }
  .socials_bg a:hover path {
    fill: #333333; }

.socials li {
  margin-right: 15px; }

.socials a {
  font-size: 0;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #E0E0E0;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .socials a svg {
    display: inline-block;
    vertical-align: middle; }

.fb:hover {
  background-color: #45619D; }

.insta:hover {
  background-color: #DB3073; }

.vk:hover {
  background-color: #4A76A8; }

.be:hover {
  background-color: #1B4FFB; }

.footer {
  color: #fff;
  background-color: #333333;
  padding-top: 70px;
  padding-bottom: 75px;
  padding-left: 190px;
  padding-right: 190px; }
  .footer a {
    color: #fff; }
  .footer__title {
    font-size: 24px;
    letter-spacing: -0.02em;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px; }
    .footer__title svg {
      position: absolute;
      top: 3px;
      left: -52px; }
  .footer__phone {
    font-size: 19px;
    letter-spacing: 0.01em;
    margin-bottom: 12px; }
  .footer__address {
    color: #CCCCCC;
    line-height: 26px;
    letter-spacing: -0.02em;
    margin-bottom: 15px; }
  .footer__link a, .footer__email a {
    color: #05B1EB;
    border-color: #05B1EB; }
    .footer__link a:hover, .footer__email a:hover {
      border-color: transparent; }
  .footer__email_mb {
    margin-bottom: 33px; }
  .footer__col {
    width: 25%; }

#fp-nav {
  display: none;
  margin-top: 0 !important;
  position: absolute;
  right: 360px !important;
  top: 170px !important; }
  #fp-nav li:last-of-type, #fp-nav li:nth-last-of-type(2) {
    display: none; }
  #fp-nav ul li a span {
    background-color: #C4C4C4; }
  #fp-nav ul li a.active span {
    background-color: #333333; }
  #fp-nav ul li:nth-of-type(2) a:before {
    opacity: 0;
    display: block;
    content: '';
    width: 14px;
    height: 17px;
    position: relative;
    top: -2px;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .3s;
    transition: .3s;
    background: url("../../img/persona.png") no-repeat center; }
  #fp-nav ul li:nth-of-type(2) a.active:before {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  #fp-nav ul li:nth-of-type(2) a.active span {
    display: none; }
  #fp-nav ul li:nth-of-type(3) a:before {
    opacity: 0;
    display: block;
    content: '';
    width: 10px;
    height: 17px;
    position: relative;
    top: -2px;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .3s;
    transition: .3s;
    background: url("../../img/medal.png") no-repeat center; }
  #fp-nav ul li:nth-of-type(3) a.active:before {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  #fp-nav ul li:nth-of-type(3) a.active span {
    display: none; }

.fp-viewing-main-slide-1 #fp-nav, .fp-viewing-main-slide-2 #fp-nav, .fp-viewing-main-slide-3 #fp-nav, .fp-viewing-main-slide-4 #fp-nav, .fp-viewing-main-slide-5 #fp-nav, .fp-viewing-agency #fp-nav, .fp-viewing-awards-slide-1 #fp-nav, .fp-viewing-awards-slide-2 #fp-nav, .fp-viewing-awards-slide-3 #fp-nav, .fp-viewing-awards-slide-4 #fp-nav, .fp-viewing-awards-slide-5 #fp-nav, .fp-viewing-services #fp-nav, .fp-viewing-works #fp-nav {
  display: block; }

.hidden-nav {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 193px;
  -webkit-transform: translateY(-50%) scale(0);
      -ms-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  width: -webkit-calc(100% - 500px);
  width: calc(100% - 500px);
  -webkit-transition: .3s;
  transition: .3s; }
  .hidden-nav_toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 4;
    -webkit-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1); }
  .hidden-nav__col {
    width: 25%; }
  .hidden-nav__title {
    font-size: 40px;
    letter-spacing: -0.03em;
    font-weight: 700;
    margin-bottom: 27px; }
    .hidden-nav__title a:hover {
      color: #FF21A2; }
  .hidden-nav__list {
    margin-top: 40px; }
    .hidden-nav__list li {
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      width: 100%;
      margin-bottom: 20px; }
      .hidden-nav__list li span {
        font-size: 12px;
        color: #FF21A2;
        letter-spacing: -0.03em;
        display: inline-block;
        vertical-align: top;
        margin-left: 6px;
        position: relative;
        top: -2px; }
      .hidden-nav__list li:last-of-type {
        margin-bottom: 0; }
    .hidden-nav__list a {
      display: inline-block;
      vertical-align: top;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: -0.02em;
      color: #666666; }
      .hidden-nav__list a:hover {
        border-color: #FF21A2; }

.order {
  position: absolute;
  z-index: -1;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
  top: 210px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 193px; }
  .order_toggle {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    z-index: 4; }
  .order__title {
    top: 0;
    position: relative;
    margin-bottom: 40px; }
  .order__wrap {
    z-index: 3; }
  .order__desc {
    margin-bottom: 63px; }
  .order__col:nth-of-type(1) {
    width: 340px;
    margin-right: 130px; }
  .order__col:nth-of-type(2) {
    width: 475px; }
  .order__input {
    margin-bottom: 29px; }
  .order__textarea {
    margin-bottom: 36px;
    max-width: 400px; }
  .order__file {
    margin-bottom: 16px;
    max-width: 325px; }
  .order__policy {
    font-size: 12px;
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px; }
    .order__policy a {
      color: #FF21A2; }
  .order__btn {
    max-width: 325px;
    width: 100%;
    font-size: 16px; }

.fp-viewing-main-slide-1 .logo, .fp-viewing-main-slide-2 .logo, .fp-viewing-main-slide-3 .logo, .fp-viewing-main-slide-4 .logo, .fp-viewing-main-slide-5 .logo {
  display: none; }
